
.pane.medium
  %h1 Listing games
  
  %table
    %tr
      %th started
      %th by
      %th status
      %th &nbsp;
    - @games.each do |game|
      %tr{ :class => "row #{cycle('even','')}"}
        %td.cell= "#{time_ago_in_words(game.created_at)} ago"
        %td.cell-dark= game.started_by
        %td.cell
          %span{:class => "status #{game.status}"}= game.status.humanize
        %td.cell-dark
          - if game.open_for_players?
            -form_for [game, Player.new] do |f|
              =f.submit 'Join this Game'
  %br            
  -form_for(Game.new) do |f|
    =f.submit 'Create New Game'